body{background: #f5f5f5;}
.tou{ width: 130px; margin: 0 auto;     padding-top: 30px;}
#head{ max-width: 130px; height: 130px; overflow: hidden; border: 1px solid #ddd; padding: 1% 1%; text-align: center;}
#head img{ width: 100%;}
.prompt{
    width: 530px;
    text-align: left;
    margin: 10px 0;
}
.xieyi{ margin-right: 30px;}
.emlly ul li {
    margin-top: 35px;
}
.yuedu span{ color: #666; margin-left: 10px;}

.caasi ul{ padding-top: 20px;    text-align: left;}
#account{ margin-top: 10px;}
.contact_zhuce ul li p{ display: inline-block; width: 100px; text-align: right; padding-right: 10px;}
.contact_zhuce ul li i{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}
.contact_zhuce ul li i img { width: 130px;}
.vcld{margin-left: 5px;}
.contact_zhuce ul li a img{ vertical-align: middle;}
.nextstep input {
    margin-top: 20px;
    display: inline-block;
    width: 30%;
    height: 52px;
    background-color: #0069b7;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}

#bank{ margin-top: 20px;
    color: #3ba8f1;
    display: inline-block;
    height: 52px;
    line-height: 52px;
    cursor: pointer;
    font-weight: 100;
    margin-right: 150px;
}
.tothe {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}

.tothe span{
    display: inline-block;
    width: 70px;
    color: #999;
    border-top: 4px solid #dfdfdf;
}
#account{ padding-top: 4%;}
.caasi { margin-top: 30px;}
.tothe p{ text-align: center;}
.tothe p{ display: inline-block; border-radius: 100%; height: 30px; line-height: 30px; width: 30px; background-color:#dfdfdf; color: #fff;}
.steps{ width: 865px; height: 110px;}
.steps li{ margin:0 18px; height: 100px; float: left;}
.steps li a{ color: #dfdfdf;}
.steps li .avte{ color: #ff9a01;}
.default span{border-top: 4px solid #ff9a01;}
.default p{ background-color: #ff9a01;}

.selectthe{ text-align: left;}
.contact_zhuce ul li  select{
    border: solid 1px #e7e7e7;
    padding: 10px 122px 10px 8px;
}
.yanzh{ margin-left: 20px;}
.xnet{ margin-left: 10%;}
#huoqu{
    display: inline-block;
    width: 14%;
    font-size: 13px;
    padding: 15px 33px;
    border: 1px solid #e7e7e7;
    background-color: #ececec;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
}
#hpen{
    margin-top: 3%;
    margin-left: 14%;
    color: #666;
}

.keemind p{ margin-top: 10%; font-size: 28px; font-weight: bold; color: #000;}
.pannd{ padding-bottom: 10%;}
.contact_zhuce ul li .hsda {
    width: 23%!important;
}












