.confirmMain .table > thead > tr > th{
	border:none;
	text-align: center;
}
.confirmMain .table > thead > tr > th,.confirmMain  .table > tbody > tr > th,.confirmMain  .table > tfoot > tr > th,.confirmMain .table > thead > tr > td,.confirmMain .table > tbody > tr > td,.confirmMain .table > tfoot > tr > td{
	border:none;
}
.confirmMain .table > thead > tr > th,.confirmMain  .table > tbody > tr > th,.confirmMain  .table > tfoot > tr > th,.confirmMain .table > thead > tr > td,.confirmMain .table > tbody > tr > td,.confirmMain .table > tfoot > tr > td{
	line-height: 2.2;
}
.confirmMain .table-striped > tbody > tr:nth-child(2n+1) > td,.confirmMain .table-striped > tbody > tr:nth-child(2n+1) > th{
	background: #fff;
}

.confirmMain .table > thead > tr,.confirmMain .table > tbody > tr{
	border-bottom: 1px solid #f4f4f4;
}
.confirmMain .table > thead > tr,.confirmMain .table > tbody > tr{
	border-bottom: 1px solid #f4f4f4;
	height:46px;
}
.confirmMain a{
	display:inline-block;
}
.confirmMain .panel-body{
	height:304px;
}
/*
.confirmMain #sample-table-2 thead{
	height:46px;
	max-height:46px;
}
.confirmMain #sample-table-2 tbody{
	height:206px;
}
.confirmMain #sample-table-2 tbody tr td{
	height:65px!important;
	max-height:65px;
} */
.planfloat {
	float: left;
	color:#000;
	display:block;
	cursor:pointer;
	padding:2px;
	margin:10px 5px;;
}
.planfloat:hover{
	color:#333;
}
.plan{
	margin:5px 0px;
	border:1px solid #d7d7d7;
	position: relative;
	text-decoration: none;
	min-width:142px;
	padding:2px;
}
.plan img{
	width:158px;
	height:106px;
}
.plan .imgStyle {
	display:block;
}
#description .centerMagin{
	margin:0 auto;
	width:490px;
	overflow:hidden;
}
.plan .imgStyle img{
	width:71px;
	height:53px;
	margin:26px auto;
	display:block;
}
.vonfirm4,.vonfirm5,vonfirm6{
	height: 110px;
    width: 148px;
    text-align: center;
}
.vonfirm4{
	padding: 15%;}
.vonfirm5,vonfirm6{
	padding: 1%;
}
.panel-body .vonfirm4 img{
	height: 60px;
    width: 72px;
    vertical-align: middle;
    }
.panel-body .vonfirm5 img,.panel-body .vonfirm6 img{
	height: 105px;
    width: 143px;
    vertical-align: middle;
    }
.planfloat:hover{
	text-decoration: none!important;
}
/* .planSpan{
	position:absolute;
	width:146px;
	height:110px;
	background:rgba(0,0,0,0.5);
	top:0px;
	left:0px;
}
.planSpan{
	display:none;
}
.planSpan img{
	margin:42px auto;
	display:block;
} */
.planSpanSelected{
	position:absolute;
	right:8px;
	top:8px;
	cursor:pointer;
	width:30px;
	height:30px;
	background:url(../../images/userCenter/click-theme.png) no-repeat center -30px;
}
.planSpanActive{
	background:url(../../images/userCenter/click-theme.png) no-repeat center 0px;
}
/* 
.center{
	text-align: center;
	line-height:2;
} */
.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 0px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}
.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
    height:168px!important;
}
#collapseOne .ps-container .ps-scrollbar-y{
	right:-28px;
}
.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}
.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}
#description {
    height:356px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
}
#confirm4,#confirm5,#confirm6,#confirm7{margin-top:5%;}
#confirm4 .panel-heading,#confirm5 .panel-heading,#confirm6 .panel-heading,#confirm7 .panel-heading{padding-left:15px!important;}
.requirements #description{
	padding:0 20px!important;
}
.requirements .ps-scrollbar-y-rail{
	right:33px!important;
	background:#fff!important;
}/* 
#contract2 #description{
	position:static;
} */
.ctrlheighterStyle{
	font-size:14px;
	line-height:36px;
	display:block;
	padding:0 15px;
}