/* *{margin:0;padding:0;box-sizing: border-box;} */
.aboutus-container,.partner-container{ background-color: #f3f3f3;width:100%;font-family: "microsoft yahei";padding-bottom: 40px;padding-top:48px;}
.aboutus-content{width:1220px;margin: 0 auto;}
.partner-content{width:1220px;margin: 0 auto;background-color: #fff;}
.aboutus-breadcrumbs,.partner-breadcrumbs{width:1220px;margin: 0 auto;height:60px;line-height: 60px;color:#000;font-size:12px;}
.aboutus-breadcrumbs a,.partner-breadcrumbs a{text-decoration: none!important;color:#000!important;}
.partner-body{padding:0 20px 30px;background-color: #fff;}
.aboutus-body{padding:0 20px 0;background-color: #fff;}
.aboutus-body h3,.partner-body h3{margin:0;height:79px;padding-top: 45px;border-bottom:1px solid #d7d7d7;font-size: 18px;color:#333;font-weight:700;}
.aboutus-body p{ padding:35px 45px 0px;line-height:1.8;font-size: 14px;  color: #333;margin:0;text-indent:2em;}
.aboutus-body div{margin:35px auto 0;text-align: center;width:815px;}
.partner-body-p{  height: 35px;line-height: 45px;padding-left: 5px;font-size:14px;color:#333;width:100%;float:left;margin:0; }
.partner-body li{float: left;margin:20px 0; border:1px solid #d7d7d7;list-style: none;width:45%;height: 440px;padding:0 20px; margin-left:4%}
.partner-body li:nth-child(3n+2){margin:20px;}
.partner-body li div{width:245px;margin:0 auto;height:160px;}
.partner-body li h4{font-size:14px;color:#333;height: 14px;}
.partner-body li p{margin-top:10px;line-height:1.6;color:#999;margin-bottom:0;}

@media screen and (max-width: 1000px) { 
.partner-body li{width:80%; height:auto;max-width:auto;}	
.partner-body li:nth-child(3n+2){margin:0;}

}

@media screen and (max-width: 800px) { 
.partner-body li{width:60%; height:auto;margin:20px 0;max-width:auto;}	
.partner-body li:nth-child(3n+2){margin:0;}
}

@media screen and (max-width: 600px) { 
.partner-body li{width:51%; height:auto;max-width:auto;}	
.partner-body li:nth-child(3n+2){margin:0;}

}