<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>IM Tester v1.0</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main-css.css">
  <link rel="stylesheet" type="text/css" href="ystep/ystep.css">
  <script src="./js/third-party/jquery/1.11.3/jquery.min.js"></script>
  <script src="./js/third-party/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="./js/notificationWebSocket.js"></script>
  <script src="./js/chat_cus.js"></script>
  <script type="text/javascript" src="ystep/ystep.js"></script>
 
	<title></title>
    
</head>
<body>
		<div class="main-penal">
			<div class="msg-penal-heading">
				<div class="panal-issue">
					<i class="fa-i issue-icon"></i>	
				</div>
				即时通讯
				<div class="panal-refresh">			
				</div>				
			</div>
			<div class="msg-penal-body">
				<ul class="mpb-left">
					<li class="msg-search">
						<form action="#" class="msgform">
							<div class="seah-input">
								<input class="input-box" type="text" placeholder="搜索...">
								</input>
								<div class="msg-input-submit search">
									<div class="mis-search-icon">
										
									</div>
								</div>
							</div>
							
						</form>
					</li>
					<li class="msg-item" id="20728734">
						<div class="msg-item-left">
							<div class="msg-item-star"></div> 
							<div class="msg-item-avatar"></div>	
						</div>
						<div class="msg-item-rightop">
							<div class="rt-left">
								<img class="msg-item-img" src="img/photo.jpg" alt=""/>
							</div>
							<div class="rt-rightop">
								<span class="msg-item-from">创展国际Peter..</span>
								<div class="msg-item-time">下午02:44</div>
							</div>
							<div class="rt-right-bottom">
								<span class="msg-item-title">最新对话标题...</span>
							</div>
						</div>
						<div class="msg-item-right-bottom">
							<span class="msg-item-cont">最新对话内容...</span>
						</div>
					</li>
					
				</ul> 
				<div class="mpb-right">
					<div class="msg-header">
						<div class="msg-from">
							<h4 class="title">创展国际Peter Lo</h4>
						</div>
						<div class="msg-progress">	
							<ul>
								<li>
									<a class="selected" href="#">
										<div class="stepNumber">1</div>
										<span class="stepDesc">沟通</span>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="stepNumber">2</div>
										<span class="stepDesc">量房</span>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="stepNumber">3</div>
										<span class="stepDesc">设计合同</span>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="stepNumber">4</div>
										<span class="stepDesc">支付设计首款</span>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="stepNumber">5</div>
										<span class="stepDesc">设计方案</span>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="stepNumber">6</div>
										<span class="stepDesc">设计尾款</span>
									</a>
								</li>
							</ul>						
						</div>
						<div class="msg-actions">
							<li>
								<a href="#">我要量房</a>
							</li>
						</div>
					</div>
					<div class="msg-cont">
						<input class="msg-input input-box" type="text" placeholder="留言...">
						</input>
						<div class="msg-input-submit msg-board">	
							<div class="mis-icon"></div>						
						</div>
						<ul class="msg-detail">
							<li class="other">
								<img src="img/photo.jpg" alt=""/>
								<div class="massages">
									<div class="tip"></div>
									<p>设计师沟通内容</p>
									<span class="time"> 下午04:52 </span>
								</div>
							</li>
							<li class="self">									
								<div class="massages">	
									<div class="tip"></div>						
									<p>消费者沟通内容</p>
									<span class="time"> 下午04:53 </span>
								</div>
								<img src="img/photo.jpg" alt=""/>
							</li>
						</ul>
                        <div class="ChatBoaard"></div>
  						<input type="hidden" class="form-control session-id" value="7D5685BF-5D70-4AC1-B073-1D84C898592F" />
  						<input type="hidden" id="ClientID" />
  						<input type="hidden" id="ClientName" />
  						<textarea class="form-control log" rows="12">debug log...</textarea>
					</div>
					
				</div>

			</div>

		</div>

</body>

</html>