<#assign baseUrl=request.contextPath />
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="${baseUrl}/css/im/index_im.css" >
	<#include '/common/commonjs.html'/>
</head>
<body style="background:#f3f3f3;">
    <#include '/common/userheader.html'/>
    <div class="xfj_content">
    	<div class="xfj_tit1">
    		<span></span>
    		即时通讯
    	</div>
    	<div class="xfj_content1">
    		<div class="xfj_left1">
    			<div class="xfj_search">
    				<input type="text" placeholder="搜索" class="xfj_inp1"/>
    				<div class="xfj_btn1"></div>
    			</div>
    		</div>
    		<div class="xfj_right1">
    			
    		</div>
    		<div class="clear"></div>
    	</div>
    </div>
    <#include '/common/footer.html'/>	
</body>
</html>